body {
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
}

.App {
  background-image: url('/assets/bg.jpg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-container {
    position: absolute;
    width: 75%;
    max-width: 430px;
    top: 50%;
    left: 12%;
    background-color: #ffffff;
    padding: 60px 40px;
    box-shadow: 0px 0px 10px #b3b3b3;
    transform: translate(0,-50%);
}

.logo {
    width: 65%;
    margin: 15px 0 60px;
}

.nav .logo {
    width: 200px;
    margin: 0;
}

.navbar {
    padding: 30px;
    box-shadow: 0 0 10px #cecece;
}

.nav-link {
    color: #4a4a4a;
    font-size: 14pt;
    font-weight: 100;
    padding: .5rem 30px;
}

a {
  color: #4a4a4a;
}

a:hover {
  color: #DC4E1B;
  text-decoration: none;
}

.nav-item.active .nav-link {
    font-weight: 600;
}

.form-label {
  font-weight: 600;
  font-size: 13pt;
  display: block;
}

.form-control {
    padding: 15px;
    height: auto;
    border: 1px solid #4A4A4A;
    border-radius: 0;
    border-right: none;
}

.input-group-text {
    background-color: transparent;
    border: 1px solid #4a4a4a;
    border-radius: 0;
    border-left: none;
}

.input-group-text img {
    width: 17px;
}

.btn {
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 15px;
    font-weight: bold;
}

.gradient-bg {
  background: rgba(174,34,167,1);
  background: -moz-linear-gradient(left, rgba(174,34,167,1) 0%, rgba(218,74,31,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(174,34,167,1)), color-stop(100%, rgba(218,74,31,1)));
  background: -webkit-linear-gradient(left, rgba(174,34,167,1) 0%, rgba(218,74,31,1) 100%);
  background: -o-linear-gradient(left, rgba(174,34,167,1) 0%, rgba(218,74,31,1) 100%);
  background: -ms-linear-gradient(left, rgba(174,34,167,1) 0%, rgba(218,74,31,1) 100%);
  background: linear-gradient(to right, rgba(174,34,167,1) 0%, rgba(218,74,31,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae22a7', endColorstr='#da4a1f', GradientType=1 );
}

.btn-secondary {
    background: transparent;
    border: 1px solid #4a4a4a;
    color: #4a4a4a;
}

.midle-line {
    position: relative;
    text-align: center;
}

.midle-line:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #4a4a4a;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: -1;
}

.midle-line span {
    padding: 10px 20px;
    background-color: #ffffff;
}

.barSeparator {
  height: 5px;
}
